<div class="body-content" ng-app>
	<!-- Example row of columns -->
	<div class="row" ng-controller="commitCtrl">
		<hr>
		<div class="col-lg-12 col-lg-8">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="repo" class="col-lg-2 control-label">Github</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" ng-model="owner" placeholder="Username" />
					</div>
					<div class="col-lg-4">
						<input type="text" class="form-control" ng-model="repo" placeholder="Repository" />
					</div>
					<div class="col-lg-2">
						<button class="btn btn-primary" ng-click="search()">search</button>
					</div>
				</div>
			</form>

			<h2>commit count : <span>{{commitCount}}</span></h2>

			<ul class="media-list">
				<li class="media" ng-repeat="commit in commits">
					<a class="pull-left">
						<img class="img-rounded" src="{{commit.committer.avatar_url}}" style="width:50px;height:50px;"/>
					</a>
					<div class="media-body">
						<h4 class="media-heading"><a href="#" ng-click="commit({{commit}})">{{commit.commit.message}}</a></h4>
						<span class="label">{{commit.committer && commit.committer.login || commit.commit.committer.name}}</span>
						<span class="label">{{commit.commit.committer.date| date:'yyyy.MM.dd. HH:mm:ss'}}</span>
						<span class="label">sha : {{ commit.sha | limitTo:3 }}</span>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-lg-6 col-lg-4">
		</div>
	</div> <!-- /container -->
	<script type="text/javascript">
	function commitCtrl($scope, $http) {
		$scope.commitCount = $scope.commitCount || 0;
		$scope.owner = $scope.owner || "D2festTeams";
		$scope.repo = $scope.repo || "hirrit";

		$scope.search = function() {
			var param = {":owner":$scope.owner, ":repo":$scope.repo};

			var commits_list_url = github.uri("commits_list", param);
			$http.get(commits_list_url).success(function(data){
				$scope.commits = data;
				$scope.commitCount = data.length;
			});

/*	수치가 맞지 않음 정확한 이유 확인 않됨.
			var commits_info_url = github.uri("commits_info", param);
			$http.get(commits_info_url).success(function(data){
				var cnt = 0;
				$.each(data,function(i,item){
					cnt += item.total;
				});
				$scope.commitCount = cnt;
			});
*/
		};

		$scope.commit = function(commit){

		};

		$scope.xx = function(sha){


		};
/*
		$scope.parent = {};

		$scope.go = function(tree) {
			if (tree == 'parent') {
				$scope.trees = $scope.parent;
			} else if (tree.type == "blob") {
				$http({
					url: 'https://api.github.com/repos/'+$('#owner').val()+'/'+$('#repo').val()+'/git/blobs/' + tree.sha,
					method: 'GET',
						headers: {'Accept': 'application/vnd.github.VERSION.raw' }
					}).success(function(data) {
						$('#content').text(data);
						$('#content').parent().removeClass("prettyprinted");
						prettyPrint();
				});
			} else {
				if ($scope.trees != undefined) $scope.parent = $scope.trees;
				$http.get('https://api.github.com/repos/'+$('#owner').val()+'/'+$('#repo').val()+'/git/trees/' + tree.sha).success(function(data) {
					$('#parent').removeClass('hide');
					$scope.trees = data.tree;
					$('#content').text('');
				});
			}
		}
*/
	}
	</script>
</div>