<div class="body-content" ng-app>
	<!-- Example row of columns -->
	<div class="row" ng-controller="commitCtrl">
		<hr>
		<div class="col-lg-12 col-lg-8">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="repo" class="col-lg-2 control-label">Github</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" id="owner" placeholder="Username" />
					</div>
					<div class="col-lg-4">
						<input type="text" class="form-control" id="repo" placeholder="Repository" />
					</div>
					<div class="col-lg-2">
						<button class="btn btn-primary" ng-click="search()">search</button>
					</div>
				</div>
			</form>

			<ul class="media-list">
				<li class="media" ng-repeat="commit in commits">
					<a class="pull-left">
						<img class="img-rounded" src="{{commit.committer.avatar_url}}" style="width:50px;height:50px;"/>
					</a>
					<div class="media-body">
						<h4 class="media-heading"><a href="go({{commit}})">{{commit.commit.message}}</a></h4>
						<span class="label">{{commit.committer && commit.committer.login || commit.commit.committer.name}}</span>
						<span class="label">{{commit.commit.committer.date| date:'yyyy.MM.dd.'}}</span>
						{{commit}}
					</div>
				</li>
			</ul>
		</div>
		<div class="col-lg-6 col-lg-4">
		</div>
	</div> <!-- /container -->
	<script type="text/javascript">
	function commitCtrl($scope, $http) {
		if ($('#owner').val() == "") $('#owner').val('D2festTeams');
		if ($('#repo').val() == "") $('#repo').val('hirrit');

		$scope.search = function() {
			$http.get('https://api.github.com/repos/'+$('#owner').val()+'/'+$('#repo').val()+'/commits').success(function(data) {
				$scope.commits = data;
			});
		};

		$scope.go = function(commit){

		};
/*
		$scope.parent = {};

		$scope.go = function(tree) {
			if (tree == 'parent') {
				$scope.trees = $scope.parent;
			} else if (tree.type == "blob") {
				$http({
					url: 'https://api.github.com/repos/'+$('#owner').val()+'/'+$('#repo').val()+'/git/blobs/' + tree.sha,
					method: 'GET',
						headers: {'Accept': 'application/vnd.github.VERSION.raw' }
					}).success(function(data) {
						$('#content').text(data);
						$('#content').parent().removeClass("prettyprinted");
						prettyPrint();
				});
			} else {
				if ($scope.trees != undefined) $scope.parent = $scope.trees;
				$http.get('https://api.github.com/repos/'+$('#owner').val()+'/'+$('#repo').val()+'/git/trees/' + tree.sha).success(function(data) {
					$('#parent').removeClass('hide');
					$scope.trees = data.tree;
					$('#content').text('');
				});
			}
		}
*/
	}
	</script>
</div>