<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>hirrit :: D2Fest</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/assets/css/docs.css" rel="stylesheet">
    <link href="http://getbootstrap.com/assets/css/pygments-manni.css" rel="stylesheet">

    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/prettify.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=sunburst"></script>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Hirrit</a>
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/tree.html">Tree</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="nav-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form form-inline pull-right">
            <input type="text" placeholder="Email">
            <input type="password" placeholder="Password">
            <button type="submit" class="btn">Sign in</button>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="body-content" ng-app>

        <!-- Example row of columns -->
        <div class="row" ng-controller="treeCtrl">
          <hr>
          <div class="col-lg-12 col-lg-8">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="repo" class="col-lg-2 control-label">Github</label>
                <div class="col-lg-4">
                  <input type="text" class="form-control" id="owner" placeholder="Username" />
                </div>
                <div class="col-lg-4">
                  <input type="text" class="form-control" id="repo" placeholder="Repository" />
                </div>
                <div class="col-lg-2">
                  <button class="btn btn-primary" ng-click="search()">search</button>
                </div>
              </div>

            </form>
            <table class="table">
              <tr class="hide" id="parent">
                <td><a ng-click="go('parent')">..</a></td>
              </tr>
              <tr ng-repeat="tree in trees">
                <td><a ng-click="go(tree)">{{tree.path}}</a></td>
              </tr>
            </table>
            <pre class="prettyprint" style="width: 100%;"><code id="content"></code></pre>
          </div>
          <div class="col-lg-6 col-lg-4">
          </div>

        <hr>

        <footer>
          <p>&copy; Company 2013</p>
        </footer>
      </div>

    </div> <!-- /container -->
	  <script type="text/javascript">
      function treeCtrl($scope, $http) {
        if ($('#owner').val() == "") $('#owner').val('daclouds');
        if ($('#repo').val() == "") $('#repo').val('Spring-Examples');

        $scope.search = function() {
          $http.get('https://api.github.com/repos/'+$('#owner').val()+'/'+$('#repo').val()+'/git/refs').success(function(data) {
            $.each(data, function(idx, e) {
              if (e.ref == 'refs/heads/master') {
                $http.get('https://api.github.com/repos/'+$('#owner').val()+'/'+$('#repo').val()+'/git/trees/' + e.object.sha).success(function(data) {
                  $scope.trees = data.tree;
                });  
              }
            });
          });
        }

        $scope.parent = {};

        $scope.go = function(tree) {
          if (tree == 'parent') {
            $scope.trees = $scope.parent;
          } else if (tree.type == "blob") {
            $http({
              url: 'https://api.github.com/repos/'+$('#owner').val()+'/'+$('#repo').val()+'/git/blobs/' + tree.sha, 
              method: 'GET', 
              headers: {'Accept': 'application/vnd.github.VERSION.raw' }
            }).success(function(data) {
              $('#content').text(data);
              $('#content').parent().removeClass("prettyprinted");
              prettyPrint();
            });
          } else {
            if ($scope.trees != undefined) $scope.parent = $scope.trees;
            $http.get('https://api.github.com/repos/'+$('#owner').val()+'/'+$('#repo').val()+'/git/trees/' + tree.sha).success(function(data) {
              $('#parent').removeClass('hide');
              $scope.trees = data.tree;
              $('#content').text('');
            });
          }         
        }
      }
    </script>
  </body>
</html>