<div class="body-content" ng-app>
	<!-- Example row of columns -->
	<div class="row" ng-controller="treeCtrl">
		<hr>
		<div class="col-lg-12 col-lg-8">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="repo" class="col-lg-2 control-label">Github</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" id="owner" placeholder="Username" />
					</div>
					<div class="col-lg-4">
						<input type="text" class="form-control" id="repo" placeholder="Repository" />
					</div>
					<div class="col-lg-2">
						<button class="btn btn-primary" ng-click="search()">search</button>
					</div>
				</div>
			</form>

			<ol class="breadcrumb" ng-model="comments">
				<li ng-repeat="c in comments"><a ng-click="viewComment(c.end_line)">{{c.start_line}} - {{c.end_line}}</a></li>
			</ol>
			<div id="content" style="width: 100%; margin: 0px; padding: 0px;"></div>
			<table class="table">
				<tr class="hide" id="parent">
					<td><a ng-click="go('parent')">..</a></td>
				</tr>
				<tr ng-repeat="tree in trees">
					<td><a ng-click="go(tree)">{{tree.path}}</a></td>
				</tr>
			</table>
		</div>
		<div class="col-lg-6 col-lg-4">
		</div>
	</div> <!-- /container -->
	<div id="fb-root"></div>
	<script type="text/javascript" src="js/tree.js"></script>
</div>